body{
	background-color: #d8d8d8;
	box-shadow: 2px 2px 10px #909090;
	padding-top: 0px;
}

a:hover{cursor: pointer;}

div.total{
	overflow: auto;
	background-color: #f1f1f1;
}
div.apply{
	float: left;
	margin-left: 70px;
	margin-top: 40px;
	width:500px;
}

div.right{
	background-image: url(/images/back_right.png);
	background-repeat: no-repeat;
	background-size: 250px 1200px;
	float: right;
	margin-left: 10px;
	margin-right: 60px;
	width: 250px; 
	height:1200px;
}

div.info{
	margin-left: 60px;
	margin-top: 80px;
}
div.like{
	margin-left: 60px;
	margin-top: 200px;
}
.friend{
	margin-left: 60px;
	margin-top: 150px;
}