body {
    margin:0px;
    padding:0px;
}

.btn.btn-primary {
    background-color:#5eccf3;
    background-image:linear-gradient(to bottom, #5eccf3, #5ea3f3);
}

.btn.btn-primary:hover {
    background-color:#5ea3f3;
}
