body{
	box-shadow: 2px 2px 10px #909090;
	padding-top: 0px;
}

img.liveThumbnail {
    width:250px;
    height:180px; 
}

img.people-head {
    height:50px;
    width:50px;
}

span.label.label-bigger {
    font-size:16px;
    padding:7px 9px;
    margin:0px 0px 0px 0px;
}

span.label.label-bigger:hover {
    cursor:pointer;
    box-shadow:1px 1px 1px #222;
}

span.badge.badge-bigger {
    font-size:16px;
    padding:7px 9px;
}

div.message {
   /* background-image:url(images/card_personal.png);*/
    padding:10px;
    background-size:cover;
    background-color:white;
    padding-right:20px;
    padding-bottom:20px;
    position: relative;
}

div#friend_box {
    padding:10px 0 0 10px;
    margin-top:0px;
}

div#friend_box:hover {
    box-shadow:0px 1px 1px #222;
}

div#favor{
    margin-bottom:10px;
    cursor: pointer;
}

div#favor:hover{
    box-shadow: 1px 1px 1px #222;
}


.attention{
    position: relative;
    display: none;
    bottom: 20px;
    padding-left: 5px;
    background-color: #5590f3;

}
.fixed {   
    position:fixed;   
    top:40px;   
    width:300px;   
} 

div#add{
    height:25px;
    width:25px;
    background-size:25px;
    background-image: url(../images/utils/add.png);
    cursor:pointer;
}
div#add:hover{
    background-image: url(../images/utils/add_hover.png);
}
