<div class="container-fluid" style="min-width:1000px;">
    <div class="row-fluid">
        <div class="span2">
            <div class="thumbnail span8 offset4">
                <img src="images/icon_small.png"></img>
                <div class="caption">
                <h3 class="text-center">DUO</h3>
                <button class="btn-primary btn-block">Subscribe</button>
                <button class="btn btn-block">Add +1!</button>
                </div>
            </div>
        </div>
        <div class="span7">
            <div>
                <h3>DUODUO DOTA2 CASTING</h3>
            </div>
            <img ng-src="images/back2_blur.jpg"></img>
            <p>
            </p>
        </div>
        <div class="span3" style="`">
            <h3>&nbsp</h3>
            <div class="thumbnail span8" style="height:500px">
                <dl chat-pool style="height:calc(100% - 35px);margin:0;overflow:scroll;">
                    <div id="{{ item.chatId }}" ng-repeat="item in chatpool">
                        <dt>{{ item.username }}</dt>
                        <dd>{{ item.content }}</dd>
                    </div>
                    <div style="height:50px">
                    </div>
                </dl>
                <div class="" style="margin-top:5px">
                    <input ng-model="chatContent" type="text" style="" class="input-block-level" ui-keypress="{13:'saySth($event)'}"placeholder="Say sth."></input>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
