<style>
    #box{
        background: #37a9e3;
        width: 100px;
        height: 30px;
        border-radius: 10px;
        margin-top: 15px;
        margin-left:30px; 
        cursor: pointer;
    }
    .slider{background: #5eccf3;width: 50px;height: 30px;border-radius: 10px;
        position: relative;
        left:0px;
    }
    span{}
    #off{
        float: left;margin-left: 20px;
        height: 30px;line-height: 30px;color: #F6F6F6;font-weight: 800;
    }

    #on{
        float: right;margin-right: 20px;
        height: 30px;line-height: 30px;color: #F6F6F6;font-weight: 800;
    }
</style>

<script language="JavaScript">
var jsReady = false;
function isReady() {
    return jsReady;
}
function pageInit() {
    jsReady = true;
}
function thisMovie(movieName) {
    if (navigator.appName.indexOf("Microsoft") != -1) {
        return window[movieName];
    } else {
        return document[movieName];
    }
}

function jumpToAnchor(anchorName){
    var scope = angular.element($("#ngView")).scope();
    scope.$apply(function() {
        scope.jumpAnchor(anchorName);
    });
}

function adjustVideoVolume(value){
    thisMovie("videoClient").adjustVolume(value);
}

function sendChatMessage(value){
    thisMovie("videoClient").postToChat(value);
}

function sendToActionScript(value) {

    //var list = getRcmdVideos();

    var list = [
    {"videoName":"晒果果",
        "picUrl":"http://223.3.80.99/images/catagory/phone_game.png",
        "fileName":"mp4:game1.flv",
        "anchorName": "lebi173",
        "serverUrl":"123.2.2.1"},
    {"videoName":"checrrr~",
        "picUrl":"http://223.3.80.99/images/catagory/home_game.png",
        "fileName":"mp4:game2.flv",
        "anchorName": "lebi172",
        "serverUrl":"123.2.2.1"},
    ];
    thisMovie("videoClient").sendToActionScript(list);
}
function sendToJavaScript(value) {
    //document.forms["form1"].output.value += "ActionScript says: " + value + "\n";
    //alert("send");

    sendToActionScript("value");
}
function getChatPost(json) {
//    alert(json); 
    var scope = angular.element($("#ngView")).scope();
    scope.$apply(function() {
        scope.receiveMsg(json);
    });
}

function slide() {
    if(document.getElementById("slider").style.left==""){
        document.getElementById("ngView").style.background="#313131";
        document.getElementById("userBox").style.background="#313131";
        document.getElementById("liveTitle").style.color="white";
        document.getElementById("slider").style.left="50px";
    }
    else{
        document.getElementById("slider").style.left="";   
        document.getElementById("ngView").style.background="white";
        document.getElementById("userBox").style.background="white";
        document.getElementById("liveTitle").style.color="#313131";
    }
}
</script>

<div class="container" id="back" style="width:1200px;padding-bottom:20px;">
    <div id="userBox" style="position:absolute;margin-left:-20px;background:white">
        <img ng-src="images/caster/{{ caster.thumbnail }}"></img>
        <button subscribe-btn style="margin-top:20px;" class="btn btn-primary btn-block">订阅</button>
        <button add-one-btn class="btn btn-block"><i class="icon-thumbs-up"></i> +1!</button>
    </div>

    <div class="container" style="">
        <div class="span8" id="liveTitle" style="">
            <h2>{{live.livename}}</h2>
        </div>
        <div class="span3" id="box" onclick="slide()">
            <span id="off">off</span>
            <span id="on">on</span>
            <div class="slider" id="slider" ></div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span1">
        </div>
        <div class="span8">
            <div live-player liveloc="live.location"></div> 
        </div>
        <div class="span3" style="">
            <div class="thumbnail span11" style="height:500px;background:white">
                <dl chat-pool style="height:calc(100% - 35px);margin:0;overflow:scroll;">
                    <div id="{{ item.chatId }}" ng-repeat="item in chatpool">
                        <dt>{{ item.username }}</dt>
                        <dd>{{ item.content }}</dd>
                    </div>
                    <div style="height:50px">
                    </div>
                </dl>
                <div class="input-append" style="margin-top:5px;width:100%;">
                    <input ng-model="chatContent" type="text" style="border:1px solid #5eccf3;width:calc(100% - 65px)" class="" ui-keypress="{13:'saySth($event)'}"placeholder="谈谈感想。"></input>
                    <button class="btn btn-primary" style="height:30px;width:50px;" type="submit" ng-click="saySth()">发送</button>
                </div>
            </div>
        </div>
    </div>
</div>
