<head>
	<link rel="stylesheet" href="styles/cast.css">
	<link rel="stylesheet" href="styles/bootstrap.css">
	<link rel="stylesheet" href="styles/normalize.css">
</head>

<div class="total">
	<div class = "apply">	
		<img src="images/want-to-cast.png" style="position:relative;left:-10px;width:150px;height:60px;">
		<form class="form-horizontal" role="form">
   			<div class="form-group" style="margin-top:5px;">
      			<label for="room_name" class="col-sm-2 control-label" style="padding-right:20px;font-size:160%">房间名称</label>
      			<div class="col-sm-10">
         			<input type="text" class="form-control" id="roomname" placeholder="逗比欢乐多">
      			</div>
  			</div>
  			</br>
   			<div class="form-group">
      			<label for="video_name" class="col-sm-2 control-label" style="padding-right:20px;font-size:160%">节目名称</label>
      			<div class="col-sm-10">
         			<input type="text" class="form-control" id="videoname" placeholder="阿Ken抽烟秀">
      			</div>
   			</div>
   			</br>
   			<div class="form-group">
      			<label for="video_name" class="col-sm-2 control-label" style="padding-right:20px;font-size:160%">节目类别</label>
      			<div class="col-sm-10">
         			<select>
  						<option value="游戏">游戏</option>
						<option value="体育">体育</option>
						<option value="生活">生活</option>
						<option value="动漫">动漫</option>
					</select>
      			</div>
   			</div>
   			</br>
   			<div class="form-group">
      			<label for="video_name" class="col-sm-2 control-label" style="padding-right:20px;font-size:160%">开始时间</label>
      			<div class="col-sm-10">
         			<input type="text" class="form-control" id="videoname" placeholder="5分钟内">
      			</div>
   			</div>
   			</br>
   			<div class="form-group">
      			<label for="video_name" class="col-sm-2 control-label" style="padding-right:20px;font-size:160%">封面图片</label>
      			<div class="col-sm-10">
         			<button type="submit" class="btn btn-default" style="margin-left:20px;background:#5eccf3;font-family:微软雅黑;">上传</button>
      			</div>
   			</div>
   			</br>
   			<div class="form-group">
      			<label for="video_name" class="col-sm-2 control-label" style="padding-right:20px;font-size:160%">相关资料</label>
      			<div class="col-sm-10">
         			<button type="submit" class="btn btn-default" style="margin-left:20px;background:#5eccf3;font-family:微软雅黑;">上传</button>
   				</div>
   			</div>
   			</br></br>
   			<div class="form-group">
      			<div class="col-sm-offset-2 col-sm-10" style="margin-left:50px;">
         			<button type="submit" class="btn btn-default" 
         			style="font-size:150%;font-family:微软雅黑;margin-left:130px;height:45px;background:#5eccf3">获取直播码</button>
      			</div>
   			</div>
		</form>
		<div style="margin-left:100px;">
			<label for"cast_code" style="color:red"><span style="color:black">您的直播码为：</span>xxx xxx xxx</p></label>
			<p>请使用直播软件进行直播</p>
		</div>
	</div>

	<div class = "right">
		<div class="info">
			<img src="images/icon_tiny.png" style="width:50px;height:50px;">
			<a style="font-family:幼圆;font-size:x-small;position:relative;top:16px;">修改</a>
		</div>
		<div class="like">
			<font color=#f24a4a>美女</font>
		</div>	
		<div class="friend">
		<table class="table table-hover">
			<tr>
         	<td class="table span1"><img src="images/icon_tiny.png" style="width:40px;height:40px;"></td>
         	<td class="table span2"><a style="color:black;font-family:幼圆;">小花</td>
      		</tr>
      		<tr>
         	<td class="table span1"><img src="images/icon_tiny.png" style="width:40px;height:40px;"></td>
         	<td class="table span2"><a style="color:black;font-family:幼圆;">阿力</td>
      		</tr>
      		<tr>
         	<td class="table span1"><img src="images/icon_tiny.png" style="width:40px;height:40px;"></td>
         	<td class="table span2"><a style="color:black;font-family:幼圆;">刘多金</td>
      		</tr>
      		<tr>
         	<td class="table span1"><img src="images/icon_tiny.png" style="width:40px;height:40px;"></td>
         	<td class="table span2"><a style="color:black;font-family:幼圆;">Cathy</td>
      		</tr>
		</table>
		<a style="color:black; font-size:x-small; float:right; margin-right:15px;">全部好友>>></a>
	</div>
	</div>
</div>