<div class="container" style="width:850px;">
    <div class="navbar">
        <h2>加入晒果</h2>
        <p class="lead" style="margin-left:30px;">直播你的精彩</p>
        <ul class="nav row-fluid">
            <li class="divider-vertical " style="margin-left:80px;">
            <span><img style="width:20px;height:20px;" src="images/step1_grey.png"></span>
            <strong class="step" style="color:#868484;">Step 1:</strong>
            <p style="color:grey;">Set up a personal account</p>
            </li>
            <li class="divider-vertical" style="margin-left:80px;">
            <span><img style="width:20px;height:20px;" src="images/step2_blue.png"></span>
            <strong class="step" style="color:#149bdf;">Step 2:</strong>
            <p style="color:#149bdf;">The Live you wanna share</p>
            </li>
            <li class="divider-vertical" style="margin-left:80px;">
            <span><img style="width:25px;height:20px;" src="images/step3_black.png"></span>
            <strong class="step">Step 3:</strong>
            <p>The Live you wanna watch</p>
            </li>
        </ul>
    </div>
    <div class="progress progress-striped active" style="width:700px; margin-left:80px;margin-top:85px;">
        <div class="bar" style="width: 66.7%;"></div>
    </div>
    <div style="margin-left:20px;margin-top:25px;">
        <div class="row-fluid">
            <div class="span6"><h4 style="color:#011a43;">你作为主播想分享的直播类型:<h4></div>
                    <div class="span4"><a href="#/favor2"><button class="btn btn-primary" style="float:right">下一步</button></div>
                        <div class="span2"><a href="#/personal"><button class="btn btn-warning">跳 过</button></a></div>
                        <div class="span1"></div>
                    </div>
                    <div class="thumbnail span3" style="margin-left:15px;margin-bottom:20px;" value="0">
                        <div class="row-fluid">
                            <div class="span5"><img ng-src="images/football.png"></img></div>
                            <div class="span7"><h4>liaoyuqian</h4>15wan关注</div>
                            <div class="attention" style="font-color:#1712f0;font-weight:bold;">
                                <img src="images/tick.png" style="width:23px;height:20px;margin-right:10px;">
                                已关注</div>
                        </div>
                    </div>
                </div>
            </div>
