<head>
	<style>
		.span3{
			cursor:pointer;
			height:75px;
			overflow: hidden;
			margin-right: 10px;
			border-color: #149bdf;
			border-width: 2px;
		}
		.span4{
			margin-top: 4px;
			text-align:center;
			padding-left: 8px;
			font-size: large;
			font-weight: bold;
			font-family: 微软雅黑;
		}
		.span6{
			margin-top: 4px;
			padding-left: 10px;
		}
		img{
			width:70px;
			height: 70px;
		}
		.attention{
			display: none;
			position: relative;
			bottom:23px;
			background-color: white;
			opacity: 1;
			margin-left: 120px;
			margin-top: 70px;
			padding-left: 10px;
		}
		.thumbnail.span2{
			position: relative;
			left: 3px;
			top:5px;
			height: 80px;
			width: 40px;
		}
	</style>
	
</head>
<script type="text/javascript">
	$(document).ready(function(){
	  $(".thumbnail").mouseover(function(){
	    $(this).css("box-shadow","3px 3px 5px #5590f3");
	  });
	});
	$(document).ready(function(){
	  $(".thumbnail").mouseleave(function(){
	    $(this).css("box-shadow","0px 0px 0px");
	  });
	});
	$(document).ready(function(){
	  $(".thumbnail").click(function(){
	  	var value = $(this).attr("value");
	    if(value == "0"){
	    	$(this.getElementsByClassName('attention')).show("fast");
	    	$(this).attr("value","1");
	    }
	    if(value == "1"){
	    	$(this.getElementsByClassName('attention')).hide("fast");
	    	$(this).attr("value","0");
	    }
	  });
	});
</script>

<div class="container" style="width:850px;">
	<div class="setup-wrapper">
		<div class="navbar">
			<h2>加入晒果</h2>
			<p class="lead" style="margin-left:30px;">直播你的精彩</p>
			<ul class="nav row-fluid">
				<li class="divider-vertical " style="margin-left:80px;">
					<span><i class="icon-user"></i></span>
					<strong class="step" style="color:grey;">Step 1:</strong>
					<p style="color:grey;">Set up a personal account</p>
				</li>
				<li class="divider-vertical" style="margin-left:80px;">
					<span><i class="icon-upload"></i></span>
					<strong class="step" style="color:blue;">Step 2:</strong>
					<p style="color:blue;">The Live you wanna share</p>
				</li>
				<li class="divider-vertical" style="margin-left:80px;">
					<span><i class="icon-upload"></i></span>
					<strong class="step">Step 3:</strong>
					<p>The Live you wanna watch</p>
				</li>
			</ul>
		</div>
	</div>
	<div class="progress progress-striped active" style="width:700px; margin-left:80px;margin-top:85px;">
		<div class="bar" style="width: 66.7%;"></div>
	</div>
	<div style="margin-left:20px;margin-top:25px;">
	<div class="row-fluid">
	 	<div class="span5"><h4 style="color:#011a43;">你作为主播想分享的直播类型:<h4></div>
	 	<div class="span5"><a href="#/favor2"><button class="btn btn-info" style="float:right">下一步</button></div>
	 	<div class="span2"><a href="#/personal"><button class="btn btn-warning">跳 过</button></a></div>
	 	<div class="span1"></div>
	</div>
	<div class="thumbnail span3" style="margin-left:15px;margin-bottom:20px;" value="0">
		<div class="row-fluid">
			<span><div class="span2" style="background-color:#37a9e3;height:80px;"></div>
			<div class="span4"><img ng-src="images/football.png"></img></div>
			<div class="span6"><h4>liaoyuqian</h4>15wan关注</div>
			<div class="attention" style="font-color:#1712f0;font-weight:bold;">
				<img src="images/tick.png" style="width:23px;height:20px;margin-right:10px;">
				已关注</div>
		</div>
	</div>
	<div class="thumbnail span3" style="margin-left:15px;margin-bottom:20px;" value="0">
		<div class="row-fluid">
			<div class="span2" style="background-color:#37a9e3;height:80px;padding-bottom:10px;"></div>
			<div class="span4"><img ng-src="images/football.png"></img></div>
			<div class="span6"><h4>liaoyuqian</h4>15wan关注</div>
			<div class="attention" style="font-color:#1712f0;font-weight:bold;">
				<img src="images/tick.png" style="width:23px;height:20px;margin-right:10px;">
				已关注</div>
		</div>
	</div>
	<div class="thumbnail span3" style="margin-left:15px;margin-bottom:20px;" value="0">
		<div class="row-fluid">
			<div class="span2" style="background-color:#37a9e3;height:80px;"></div>
			<div class="span4"><img ng-src="images/football.png"></img></div>
			<div class="span6"><h4>liaoyuqian</h4>15wan关注</div>
			<div class="attention" style="font-color:#1712f0;font-weight:bold;">
				<img src="images/tick.png" style="width:23px;height:20px;margin-right:10px;">
				已关注</div>
		</div>
	</div>
	<div class="thumbnail span3" style="margin-left:15px;margin-bottom:20px;" value="0">
		<div class="row-fluid">
			<div class="span2" style="background-color:#37a9e3;height:80px;"></div>
			<div class="span4"><img ng-src="images/football.png"></img></div>
			<div class="span6"><h4>liaoyuqian</h4>15wan关注</div>
			<div class="attention" style="font-color:#1712f0;font-weight:bold;">
				<img src="images/tick.png" style="width:23px;height:20px;margin-right:10px;">
				已关注</div>
		</div>
	</div>
	<div class="thumbnail span3" style="margin-left:15px;margin-bottom:20px;" value="0">
		<div class="row-fluid">
			<div class="span2" style="background-color:#37a9e3;height:80px;"></div>
			<div class="span4"><img ng-src="images/football.png"></img></div>
			<div class="span6"><h4>liaoyuqian</h4>15wan关注</div>
			<div class="attention" style="font-color:#1712f0;font-weight:bold;">
				<img src="images/tick.png" style="width:23px;height:20px;margin-right:10px;">
				已关注</div>
		</div>
	</div>
</div>
</div>
