<head>
	<style>

	</style>
	<script>
	</script>
</head>


<div class="container" style="width:850px;">
	<div class="setup-wrapper">
		<h2>加入晒果</h2>
		<p class="lead" style="margin-left:30px;">直播你的精彩</p>		
		<div class="navbar">
			<ul class="nav row-fluid">
				<li class="divider-vertical " style="margin-left:80px;">
					<span><img style="width:20px;height:20px;" src="images/step1_blue.png"></span>
					<strong class="step" style="color:#149bdf;">Step 1:</strong>
					<p style="color:#149bdf;">Set up a personal account</p>
				</li>
				<li class="divider-vertical" style="margin-left:80px;">
					<span><img style="width:20px;height:20px;" src="images/step2_black.png"></span>
					<strong class="step">Step 2:</strong>
					<p>The Live you wanna share</p>
				</li>
				<li class="divider-vertical" style="margin-left:80px;">
					<span><img style="width:25px;height:20px;" src="images/step3_black.png"></span>
					<strong class="step">Step 3:</strong>
					<p>The Live you wanna watch</p>
				</li>
			</ul>
		</div>
	</div>
	<div class="progress progress-striped active" style="width:700px; margin-left:80px;margin-top:85px;">
		<div class="bar" style="width: 33%;"></div>
	</div>
	<div style="width:450px;margin-left:100px;margin-top:25px;">
		<fieldset>
			<form class="form-horizontal">
	  			<div class="control-group">
	  				<label class="control-label" for="inputEmail">用户名</label>
		        	<div class="controls"><input type="text" style="height:35px;margin-bottom:12px;" class="input-block-level" placeholder="can be modified"></div>
		        </div>
		        <div class="control-group">
	  				<label class="control-label" for="inputEmail">密码</label>
		        	<div class="controls"><input type="text" style="height:35px;margin-bottom:12px;" class="input-block-level" placeholder="more than 6 bits"></div>
		        </div>
		        <div class="control-group">
	  				<label class="control-label" for="inputEmail">邮箱</label>
		        	<div class="controls"><input type="text" style="height:35px;margin-bottom:12px;" class="input-block-level" placeholder="can be modified"></div>
		        </div>
		        <div class="control-group controls">
		        	<a href="#/favor" type="submit" class="btn btn-large btn-primary btn-block" ng-click="signup()">Sign Up</a>
		        </div>
		    </form>
	    </fieldset>
	</div>
</div>