<div class="jumbotron" style="background-image:url(images/back1_blur.jpg)")>
    <div class="row">
    <div class="row pull-left">
        <p>
        <input placeholder="用户名." ng-model="user.username">
        </input>
        </p>
        <p>
        <input placeholder="密码." ng-model="user.password">
        </input>
        </p>
        <p>
        <input placeholder="邮箱." ng-model="user.email">
        </input>
        </p>
        </p>
        <p>
        <a class="btn btn-lg btn-success" ng-click="signup()">SIGN UP</a>
        </p>
    </div>
    <img class="pull-right" src="images/back1.jpg"></img>
    </div>
</div>
