<div class="container-fluid img-rounded" style="padding-top:40px;padding-bottom:40px;background-image:url(images/back1_blur.jpg);width:930px;background-repeat:no-repeat">
    <div class="row-fluid">
    <div class="span3" style="padding-top:60px;padding-left:20px;">
    <form style="float:left;">
        <fieldset>
            <label>
            <input type="text" class="input-large" placeholder="Your Username" ng-model="user.username">
            </label>
            <label>
            <input type="password" class="input-large" placeholder="Your Password" ng-model="user.password">
            </label>
            <label>
            <input type="text" class="input-large" placeholder="Your Email" ng-model="user.email">
            </label>
            <a type="submit" class="btn btn-primary btn-block">Sign Up</a>
        </fieldset>
    </form>
    </div>
    <div class="span1"></div>
    <div class="span7">
    <img src="images/back1.jpg" class="" style=""></img>
    </div>
    </div>
</div>
