<div class="container">
    <div back-img class="container-fluid img-rounded" style="padding-top:50px;padding-bottom:30px;">
        <div class="row-fluid">
            <div class="span1"></div>
            <div class="span3" style="">
                <div style="">
                    <fieldset>
                        <input type="text" style="height:35px;margin-bottom:12px;" class="input-block-level" placeholder="Your Username" ng-model="user.username">
                        <input type="password" style="height:35px;margin-bottom:12px;" class="input-block-level" placeholder="Your Password" ng-model="user.password">
                        <input type="email" style="height:35px;margin-bottom:12px;" class="input-block-level" placeholder="Your Email" ng-model="user.email">
                        <a type="submit" id="sign" class="btn btn-large btn-success btn-block" ng-click="signup()">Sign Up</a>
                    </fieldset>
                </div>
            </div>
            <div class="span1"></div>
            <div class="span6">
                <div ng-controller="IndexImageCarouselCtrl">
                    <carousel interval="indexImageInterval">
                    <slide ng-repeat="slide in indexImageSlides" active="slide.active">
                    <img class="img-rounded" ng-src="{{ slide.imgSrc }}.jpg" style="margin:auto;">
                    <div class="carousel-caption img-rounded">
                        <h4>{{ slide.caption }}</h4>
                        <p>{{ slide.introduction }}</p>
                    </div>
                    </slide>
                    </carousel>
                </div>
            </div>
            <div class="span1"></div>
        </div>
    </div>
</div>
<hr></hr>
<div style="height:20px"></div>
<div class="container" style="width:1000px;">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span4" style="margin-right:0px;">
                <div class="category-heading" style="width:280px;padding-bottom:10px;border-bottom:4px solid #5ea3f3;">
                    <span class="label-title">热门分类</span>
                    <a class="pull-right">更多...</a>
                </div>
                <div class="play img-rounded" ng-repeat="category in categories" >
                    <a href="#/category/{{category.tagNameEng}}">
                        <div class="swapImage">
                        <img class="swap2 img-rounded" src="images/utils/search.png">
                        <img class="swap1 img-rounded" ng-src="images/catagory/{{ category.thumbnailBig }}" >
                    </div>
                    </a>
                    <p>
                    <span class="category">{{ category.tagName }}</span>
                    <span style="margin-right:20px;">{{ category.livingNumber }}个正在直播</span>{{ category.tagAttention }}人关注
                    </p>
                </div>
            </div>
            <div class="span4" style="margin-left:40px;margin-right:40px">
                <div class="category-heading" style="width:280px;padding-bottom:10px;border-bottom:4px solid #5ea3f3;">
                    <span class="label-title">热门直播</span>
                    <a class="pull-right">更多...</a>
                </div>
                <div class="play img-rounded" ng-repeat="live in lives">
                    <a href="#/castroom/{{ live.username }}"> 
                    <div class="swapImage">
                        <img class="swap2 img-rounded" src="images/utils/play.png">
                        <img class="swap1 img-rounded" ng-src="images/lives/{{ live.thumbnail }}" >
                    </div>
                    </a>
                    <div>
                        <span class="limit_text span7" style="margin-left:10px;">{{ live.livename }}</span>
                        <div class="pull-right level">
                            <i class="icon-forward"></i><span>{{ live.attention }}</span>
                            <i class="icon-fire"></i><span>6754</span></div>
                    </div>
                </div>
            </div>
            <div class="span3" style="margin-left:0px;margin-right:0px;">
                <div class="category-heading" style="width:234px;padding-bottom:10px;border-bottom:4px solid #5ea3f3;">
                    <span class="label-title">热门主播</span>
                    <a class="pull-right">更多...</a>
                </div>
                <div class="media-list span12">
                    <div class="media img-rounded" id="hot-caster" ng-repeat="caster in casters">
                        <a class="pull-left">
                            <img class="media-object" ng-src="images/caster/{{ caster.thumbnail }}">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">{{ caster.username }}
                            </h4>
                            <div class="label label-warning">{{ caster.castType }}</div>
                            <div><i class="icon-thumbs-up"></i> {{ caster.hotRate }}
                            <i class="icon-eye-open"></i> {{ caster.attention }}</div>
                            <span class="label label-primary">Info</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--end hotCaster -->
        </div>
    </div>
</div>