<head>
    <link rel="stylesheet" href="styles/personal.css">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="script/controllers/personal.js"></script>
    <style>
        .favor{
            width: 90px;
            height: 42px;
            margin-right:10px;
            margin-left:10px;
            margin-bottom: 13px;
            cursor: pointer;
            border-color: #5590f3;
            border-width: 2px;
        }
        .attention{
            position: relative;
            display: none;
            bottom: 20px;
            padding-left: 5px;
            background-color: #5590f3;

        }
        .fixed {   
        position:fixed;   
        top:40px;   
        width:300px;   
        } 
        div#add{
            cursor: pointer;
            border:dotted #b6b6b7;width:23px;height:23px;
        }
        div#add:hover{
            border: dotted #474748;
        }
        #plus{
            font-size:285%;font-weight:bold;color:#b6b6b7;padding-top:0.5px;
        }
        #plus:hover{
            color:#474748;
        }
    </style>
</head>

<script type="text/ng-template" id="UserSettings.html">
    <div class="modal-header">
        <h3 class="modal-title">User Settings</h3>
    </div>
    <div class="modal-body">
        <div class="thumbnail media">
            <img class="pull-left" ng-src="images/{{ settings.username }}.png"><img>
            <div class="media-body">
                <h4>
                <button class="btn btn-primary">Upload headImage</button>
                </h4>
                <p>
                <span class="span5 uneditable-input">Your Image Location</span>
                </p>
            </div>
        </div>
        <dl class="dl-horizontal">
            <dt class="lead" style="margin-bottom:0px">Username</dt>
            <dd><input type="text" placeholder="{{settings.username}}"></input></dd>
            <dt class="lead">Email</dt>
            <dd><input type="email" placeholder="{{ settings.email }}"></input></dd>
        </dl>
    </div>
    <div class="modal-footer" style="background-color:#d3ecf5;">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="UserFavor.html">
    <div class="modal-header">
        <h3 class="modal-title">User Favor</h3>
    </div>
    <div class="modal-body" style="margin-left:20px;">
        <div class="thumbnail span3 favor" value="0" ng-click="attention()">
            <div style="text-align:center"><h4 style="margin-top:1.8px;margin-bottom:1.8px;">英雄联盟</h4>15万关注</div>
            <div class="attention"><i class="icon-ok" style="margin-right:10px;"></i>已关注</div>
        </div>
        <div class="thumbnail span3 favor" value="0" ng-click="attention()">
            <div style="text-align:center"><h4 style="margin-top:1.8px;margin-bottom:1.8px;">英雄联盟</h4>15万关注</div>
            <div class="attention"><i class="icon-ok" style="margin-right:10px;"></i>已关注</div>
        </div>
        <div class="thumbnail span3 favor" value="0" ng-click="attention()">
            <div style="text-align:center"><h4 style="margin-top:1.8px;margin-bottom:1.8px;">英雄联盟</h4>15万关注</div>
            <div class="attention"><i class="icon-ok" style="margin-right:10px;"></i>已关注</div>
        </div>
        <div class="thumbnail span3 favor" value="0" ng-click="attention()">
            <div style="text-align:center"><h4 style="margin-top:1.8px;margin-bottom:1.8px;">英雄联盟</h4>15万关注</div>
            <div class="attention"><i class="icon-ok" style="margin-right:10px;"></i>已关注</div>
        </div>
        <div class="thumbnail span3 favor" value="0" ng-click="attention()">
            <div style="text-align:center"><h4 style="margin-top:1.8px;margin-bottom:1.8px;">英雄联盟</h4>15万关注</div>
            <div class="attention"><i class="icon-ok" style="margin-right:10px;"></i>已关注</div>
        </div>
        <div class="thumbnail span3 favor" value="0" ng-click="attention()">
            <div style="text-align:center"><h4 style="margin-top:1.8px;margin-bottom:1.8px;">英雄联盟</h4>15万关注</div>
            <div class="attention"><i class="icon-ok" style="margin-right:10px;"></i>已关注</div>
        </div>
        <div class="thumbnail span3 favor" value="0" ng-click="attention()">
            <div style="text-align:center"><h4 style="margin-top:1.8px;margin-bottom:1.8px;">英雄联盟</h4>15万关注</div>
            <div class="attention"><i class="icon-ok" style="margin-right:10px;"></i>已关注</div>
        </div>
    </div>
    <div class="modal-footer" style="background-color:#d3ecf5;">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

<div class="container container-fluid" style="margin-top:20px;" ng-show="showPage">
    <div class="row-fluid">
        <div class="span8">
            <div class="thumbnail media message" ng-repeat="message in messages">
                <div class="pull-left span2" style="margin-top:10px;margin-left:5px;">
                    <img class="media-object img-rounded" ng-src="images/{{ message.username }}.png"></img>
                    <h5 class="">{{ message.username }}</h5>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">{{ message.heading }}</h3>
                    <img class="img-rounded" ng-src="images/{{ message.thumbnail }}.jpg"></img>
                    <p class="text-right" style="">
                    <span class="label label-warning label-bigger" style="">{{ message.castTime }} {{ message.status }}</span>
                    </p>
                </div>
            </div>
        </div>

        <div class="span4">
            <div class="thumbnail">
            <div class="media" style="padding:20px;padding-top:0px">
                <img class="pull-left" ng-src="images/{{ user.username }}.png" style="width:40%;margin-top:10px;">
                <div class="media-body">
                    <h4>{{ user.username }}</h4>
                    <p>
                    {{ user.email }}
                    </p>
                    <button class="btn btn-primary" ng-click="open()">
                        personal center
                    </button>
                </div>
                <hr></hr>
                <button class="btn btn-primary" ng-click="open2()">
                        personal favor
                    </button>
                <p style="">
                <span class="label label-bigger" style="">music</span>
                <span class="label label-bigger label-success">music</span>
                <span class="label label-bigger label-warning">music</span>
                <span class="label label-bigger label-important">music</span>
                <span class="label label-bigger label-info">music</span>
                <span class="label label-bigger label-inverse">music</span>
                </p>
                <div id="add">
                    <font id="plus">+</font>
                </div>
            </div>
        </div>
        <div id="floatbox" > 
        <div id="divfloat">
        <hr></hr>
        <div class="thumbnail">
            <div class="media" style="padding:10px" ng-repeat="friend in friends">
                <a class="pull-left">
                    <img class="media-object people-head" ng-src="images/{{ friend.username }}.png">
                    </img>
                </a>
                <div class="media-body" style="padding:5px">
                    <h4 class="media-heading">{{ friend.username }}</h4>
                </div>
            </div>
        </div>
    </div></div>
    </div>
</div>
</div>


