<head>
	<link rel="stylesheet" href="styles/personal.css">
</head>

<div class = "newest">
	<div class="recommend">
		<div class = "caster"></br>
			<img src="images/icon_tiny.png">
			<p>Caster</p>
		</div>
		<div class="video">
			<p>Video</p>
			<img src="images/yeoman.png" style="width:200px;height:100px;"></br>
			<img src="images/yellow.png" style="margin-left:80px;">
			hh:mm播放
		</div>
	</div>
</div>

<div class = "right">
	<div class="info">
		<img src="images/icon_tiny.png">
	</div>
	<div class="like">
		<font color=#f24a4a>美女</font>
	</div>
	
</div>