<script>
function thisMovie(movieName) {
    if (navigator.appName.indexOf("Microsoft") != -1) {
        return window[movieName];
    } else {
        //alert(document[movieName]);
        return document[movieName];
    }
}
function applyFsoHandler(){
    applyFso("hashValue")
}
function applyFso(hashValue){
    thisMovie("applyComp").getHashFromJs(hashValue);
}
function replyer(){
//    alert("success");
}
</script>
<script type="text/ng-template" id="UserSettings.html">
<div class="modal-header">
        <h3 class="modal-title">用户设置</h3>
    </div>
    <div class="modal-body">
        <div class="thumbnail media">
            <div class="pull-left" id="preview">  
                <img id="imghead" width=120 height=120 border=0  src="images/caster/{{settings.thumbnail}}">  
            </div>
            <div class="media-body">
                <div style="padding-top:20px;padding-left:10px;">
                <input type="button" class='btn btn-primary' style="width:180px;" value='上传头像'>
                </div>
                <div style="padding:10px">
                <input type="text" name='textfield' id='textfield' class='txt'>                       
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer" style="background-color:#d3ecf5;">
        <button class="btn btn-primary" ng-click="ok()">确认</button>
        <button class="btn btn-warning" ng-click="cancel()">取消</button>
    </div>
</script>

<script type="text/ng-template" id="UserFavor.html">
    <div class="modal-header">
        <h3 class="modal-title">想看点什么呢？</h3>
    </div>
    <div class="modal-body">
        <div class="thumbnail media span3" id="favor" style="margin-top:0px;" ng-repeat="tag in tags" ng-click="addFavor(tag)">
            <a class="pull-left" >
                <img class="media-object" style="width:100px;height:100px"ng-src="images/cata_small/{{ tag.thumbnailSmall }}"></img>
            </a>
            <div class="media-body">
                <h4 class="media-heading">{{ tag.tagName }}</h4>
                <span class="label">{{ tag.tagAttention }}人关注</span>
                <div class="pull-right" style="margin-top:20px;" ng-show="tag.selected">
                    <i class="icon-ok" style="margin-right:10px;"></i>已关注
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer" style="background-color:#d3ecf5;">
        <button class="btn btn-primary" ng-click="ok()">确认</button>
        <button class="btn btn-warning" ng-click="cancel()">取消</button>
    </div>
</script>

<script type="text/ng-template" id="CastInfo.html">
    <div class="modal-header">
        <h3 class="modal-title">你的主播信息</h3>
    </div>
    <div class="modal-body">
         <dl class="dl-horizontal">
            <dt class="lead" style="margin-bottom:0px">RTMP地址</dt>
            <dd>
            <input id="rmtp" class="disable" type="text" placeholder="" value="{{rtmp}}"></input>
            <span id="rmtpResult" style=""></span>
            </dd>
            <dt class="lead" style="margin-bottom:0px">Stream名称</dt>
            <dd>
            <input type="text" placeholder="" value="{{streamName}}"></input>
            </dd>
            <dt class="lead" style="margin-bottom:0px">视频名称</dt>
            <dd>
            <input type="text" placeholder="" ng-model="livename"></input>
            </dd>
        </dl>
    </div>
    <div class="modal-footer" style="background-color:#d3ecf5;">
        <button class="btn btn-primary" ng-click="ok()">确认</button>
    </div>
</script>


<div class="container container-fluid" style="margin-top:20px;" ng-show="showPage">
    <div class="row-fluid">
        <div class="span8">
            <div ng-if="noMessage" class="well" style="cursor:pointer;" ng-click="openUserFavor()">
            <p class="muted text-center" style="margin:0px;">试试加点标签</p>
            </div>
            <div class="thumbnail media message" ng-repeat="message in messages | orderBy : 'time' : true">
                <div class="pull-left span2" style="margin:10px;">
                    <img class="media-object img-rounded" ng-src="images/caster/{{ message.user.thumbnail }}"></img>
                </div>
                <div class="media-body" style="margin-left:50px;">
                    <span class="muted" style="position:absolute;right:10px;" ng-if="message.isRecommend">为您推荐</span>
                    <h3 class="media-heading" ng-if="message.type === 2">{{ message.user.username }}正在看</h3>
                    <h3 class="media-heading" ng-if="message.type === 1">{{ message.user.username }}正在播</h3>
                    <div class="media" style="margin-top:0px;">
                        <div class="pull-left">
                            <a href="#/castroom/{{ message.caster.username }}">
                                <img class="liveThumbnail swap2 img-rounded" ng-src="images/utils/play.png"></img>
                                <img class="img-rounded liveThumbnail" ng-src="images/lives/{{ message.video.thumbnail }}"></img>
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{ message.video.livename }}</h3>
                            <div>
                            <h5 class="muted">{{ message.caster.username }}的直播间</h5>
                            <div class="muted"><i class="icon-fire"></i> {{ message.caster.hotRate}}</div>
                            <div class="muted"><i class="icon-eye-open"></i> {{ message.caster.attention}}</div>
                            <span class="muted"></span>
                            </div>
                        </div>
                        <p style="position:absolute;bottom:10px;right:20px;">
                        <span class="label label-warning" ng-if="message.isRecommend === false">
                            {{ message.time }}
                        </span>
                        <span class="label label-info label-bigger" ng-if="message.isRecommend === true">
                            {{ message.tag.tagName }}
                        </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="span4">
            <div class="thumbnail">
            <div class="media" style="padding:20px;padding-top:0px">
                <img class="pull-left" ng-src="images/caster/{{ user.thumbnail }}" style="width:40%;margin-top:10px;">
                <div class="media-body">
                    <h4>{{ user.username }}</h4>
                    <p>
                    {{ user.email }}
                    </p>
                    <button class="btn btn-primary" ng-click="openUserSettings()">
                        修改资料
                    </button>
                </div>
                <div>
                    <a class="btn btn-large btn-success btn-block" ng-click="OpenCastInfoDialog()" style="margin-top:30px;">我要直播</a>
                    <span display="none">
                    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
                        id="applyComp" width="0" height="0"
                        codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab" style="float:left">
                        <param name="movie" value="apply.swf?id=<?php echo(rand());?>" />
                        <param name="quality" value="high" />
                        <param name="bgcolor" value="#fff" />
                        <param name="allowScriptAccess" value="sameDomain" />
                        <embed src="flash/apply.swf?id=<?php echo(rand());?>
                            &theStreamName=mp4:shortd.flv
                            &serverUrl=rtmfp://223.3.91.16/LivesServer" 
                            quality="high" bgcolor="#fff"
                            width="0" height="0" name="applyComp" align="middle"
                            play="true" loop="false" quality="high" allowScriptAccess="sameDomain"
                            type="application/x-shockwave-flash"
                            allowFullScreen="true"
                            pluginspage="http://www.macromedia.com/go/getflashplayer">
                        </embed>
                    </object>
                    </span>
                </div>
                <hr></hr>
                <div style="">
                    <span class="label label-bigger" style="margin-right:10px;margin-bottom:10px;" ng-repeat="tag in tags | filter : {selected : true}" ng-click="goToCategory(tag)">{{ tag.tagName }}</span>
                    <div id="add" ng-click="openUserFavor()">
                    </div>
                </div>
            </div>
        </div>
        <hr></hr>
        <div class="thumbnail">
            <h4 style="margin-left:10px">你的关注</h4>
            <hr style="margin:10px;"></hr>
            <div class="media img-rounded" id="friend_box" style="cursor:pointer" ng-click="friendClick(friend)" ng-repeat="friend in friends | orderBy : 'status' : true">
                <a class="pull-left">
                    <img class="media-object people-head" ng-src="images/caster/{{ friend.thumbnail }}">
                    </img>
                </a>
                <div class="media-body" style="padding:5px">
                    <h4 class="media-heading">{{ friend.username }}</h4>
                    <p>
                    <span class="label label-success" style="" ng-show="friend.status === 1">正在直播</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


