<div class="container" style="margin-top:20px;">
    <tabset>
    <tab heading="Lives">
    <div>
        <input type="text" ng-model="live_query" placeholder="Type sth. to filter..."></input>
    </div>
        <div class="span3 thumbnail" style="margin-left:5px;margin-bottom:30px;" ng-repeat="live in lives | filter : {'livename' : live_query}">
            <img ng-src="images/{{ live.thumbnail }}.jpg">
            <h6 class="muted">{{ live.livename }}</h6>
            <p></p>
        </div>
    </tab>
    <tab heading="Users">
    <div>
        <div>
        <input type="text" ng-model="user_query" placeholder="Type sth. to filter..."></input>
        </div>
        <div class="thumbnail span3" style="margin-left:5px;margin-bottom:30px;" ng-repeat="user in users | filter : {'username' : user_query}">
            <img ng-src="images/{{ user.username }}.png">
            <h6 class="">{{ user.username }}</h6>
        </div>
    </div>
    </tab>
    <tab heading="Caches">
    <div class="container">
    <div>
        <input type="text" ng-model="cache_query" placeholder="Type sth. to filter..."></input>
    </div>
    <div class="thumbnail span3" style="margin-left:5px;margin-bottom:30px;" ng-repeat="video in cachedVideos | filter : {'videoname' : cache_query}">
            <img ng-src="images/{{ video.thumbnail }}.jpg">
            <h6 class="">{{ video.videoname }}</h6>
            <h6 class="muted">{{ video.duration.seconds }}</h6>
        </div>
    </div>
    </tab>
    </tabset>
</div>
